name: 自动解包 boot.img
on:
  workflow_dispatch:

jobs:
  unpack_bootimg:
    runs-on: ubuntu-latest
    steps:
      - name: 检出仓库（含 boot.img）
        uses: actions/checkout@v4

      - name: 安装所有依赖
        run: |
          sudo apt update && sudo apt install -y wget git cpio lzop xz-utils bsdmainutils

      - name: 克隆 AIK-Linux 官方镜像（含全部可执行文件）
        run: git clone https://github.com/osm0sis/Android-Image-Kitchen.git aik

      - name: 进入目录并执行解包
        run: |
          cd aik
          chmod +x unpackimg.sh
          ./unpackimg.sh --local ../boot.img

      - name: 上传解包后的内核文件
        uses: actions/upload-artifact@v4
        with:
          name: kernel-files
          path: |
            aik/split_img/boot.img-zImage
            aik/split_img/Image.gz-dtb
          if-no-files-found: warn
